/* carousel */

.carousel-container {
    max-height: 70%;
    overflow: hidden;
  }

  #carouselExampleAutoplaying {
    width: 100%;
  }

  .carousel-inner {
    width: 100%;
    display: flex;
  }

  .carousel-item {
    width: 100%;
  }

  .carousel-item img {
    width: 100%;
    height: auto;
  }