
  .carousel-container {
    height: 100vh; /* Set the height to 60% of the viewport height */
    overflow: hidden; /* Ensure that the content doesn't overflow */
  }

  .carousel-inner {
    height: 100%; /* Set the height of the carousel inner container to 100% */
  }

  .carousel-item {
    height: 100%; /* Set the height of each carousel item to 100% */
  }

  .carousel img {
    object-fit: cover; /* Make sure the image covers the entire carousel item */
    width: 100%; /* Make the image fill its container */
    height: 100%; /* Make the image fill its container */
  }

  /* Custom CSS for product details with login form style */
  .product-container {
    margin-top: 50px;
    background-color: black; /* Match the background color of the login form */
    color: #FFD700; /* Text color */
    border: 1px solid #FFD700; /* Border color */
    border-radius: 10px;
    padding: 20px;
  }

  .product-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }

  .product-details {
    margin-top: 20px;
  }

  .product-price {
    margin-top: 10px;
    color: #FFD700; /* Info color */
  }

  .btn-outline-secondary {
    color: black; /* Button text color */
    border-color: black; /* Button border color */
  }
  /* static/css/products.css */

.product-container {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
}

.product-image {
  border-radius: 8px;
}

.product-title {
  color: #343a40;
}

.product-category {
  font-style: italic;
  color: #6c757d;
}

.product-short-description {
  color: #343a40;
}

.product-price {
  color: #007bff;
}

.product-description-title {
  color: #343a40;
}

.product-long-description {
  color: #6c757d;
}
