
  .carousel-container {
    height: 100vh; /* Set the height to 60% of the viewport height */
    overflow: hidden; /* Ensure that the content doesn't overflow */
  }

  .carousel-inner {
    height: 100%; /* Set the height of the carousel inner container to 100% */
  }

  .carousel-item {
    height: 100%; /* Set the height of each carousel item to 100% */
  }

  .carousel img {
    object-fit: cover; /* Make sure the image covers the entire carousel item */
    width: 100%; /* Make the image fill its container */
    height: 100%; /* Make the image fill its container */
  }

